$primary: #2C3E50;
$darkn-primary: #2C3E70;
$secondary: #1ABC9C;
$accent: #F1C40F;
$light-bg: #ECF0F1;
$dark-text: #333;
$light-text: #fff;

.hero {

  background: linear-gradient(135deg, $primary 0%, $darkn-primary 100%);
  color: white;
  border-radius: 2vw;
  margin-top: 1vw;
  .hero-content {
    flex: 1;
    max-width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 3.5rem;
      margin-bottom: 0;
      line-height: 1.2;
    }

    h2 {
      font-size: 2rem;
      color: $accent;
      margin-bottom: 1.5rem;
      font-weight: 400;
    }

    .tagline {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .cta-buttons {
      display: flex;
      gap: 1rem;
    }
  }

 

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;

    .cta-buttons {
      justify-content: center;
    }

    .hero-image {
      margin-top: 2rem;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}